
 {% load gravatar  %}
  {% load myfilter  %}

<div id="comments" class="comments-area">
	<!--<h2 class="comments-title">
		引用 “<span>发生地方</span>”		
	</h2>-->

	<ol class="commentlist">
		<div class="comments-list">
 			{{comments|gen_comment_block:request}}
 		</div>
	</ol><!-- .commentlist -->


		
	<div id="respond" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title">
			<small>
			<a rel="nofollow" id="cancel-comment-reply-link" href="/blog/?p={{comment_post_id}}#respond" style="display:none;">取消回复</a>
			</small>
		</h3>
		<form action="/blog/comment" method="post" id="commentform" class="comment-form">
			{%csrf_token%}

			<!--<p class="logged-in-as">Logged in as 
				<a href="/blog/profile.php">root</a>. 
				<a href="/blog/login.php?action=logout&amp;redirect_to=http%3A%2F%2Flocalhost%2Fphp%2Fwordpress%2F%3Fp%3D29&amp;_wpnonce=4c698ae045" title="Log out of this account">Log out?</a>
			</p>-->	
					

			
			
			<p class="comment-form-comment">
				<label for="comment">评论</label> 
				<textarea id="comment" name="comment" cols="45" rows="8" aria-required="true">{{contexts.comment_form.cleaned_data.comment}}</textarea>
				<span class="required">{{contexts.comment_form.comment.errors|first}}</span>
			</p>
			<!--<p class="comment-notes">邮箱地址不会公开，标记成 
				<span class="required">*</span>是必填.
			</p>-->		
			<div>				
				<p class="comment-form-author">
					<label for="author">昵称 <span class="required">*</span></label>
					 <input id="author" name="author" type="text" value="{{contexts.comment_form.author.form.cleaned_data.author}}" size="30" aria-required="true">
					 <span class="required">{{contexts.comment_form.author.errors|first}}</span>
				</p>
				<p class="comment-form-email">
					<label for="email">邮箱 
						<span class="required">*</span>
					</label> 

					<input id="email" name="email" type="text" value="{{contexts.comment_form.cleaned_data.email}}" size="30" aria-required="true">
					<span class="required">{{contexts.comment_form.email.errors|first}}</span>
				</p>
				<p class="comment-form-url"><label for="url">网站</label>
				 <input id="url" name="url" type="text" value="{{contexts.comment_form.data.url}}" size="30">
				 <span class="required">{{contexts.comment_form.url.errors|first}}</span>
				</p>
			</div>

			




			<!--<p class="form-allowed-tags">你可以使用这些 
				<abbr title="HyperText Markup Language">HTML</abbr> 标签和属性:  <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code>
			</p>-->
			<p class="form-submit">
				<input name="submit" type="submit" id="submit" value="发表回复">
				<span class="required">{{contexts.frequency_comment}}</span>
				<input type="hidden" name="comment_post_ID" value="{{comment_post_id}}" id="comment_post_ID">
				<input type="hidden" name="comment_parent" id="comment_parent" value="0">
			</p>
				<input type="hidden" id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment" value="ec2af034c7">
				<script>(function(){if(window===window.parent){document.getElementById('_wp_unfiltered_html_comment_disabled').name='_wp_unfiltered_html_comment';}})();
				</script>
			</form>
	</div><!-- #respond -->

</div>
