
</div><!-- #main .wrapper -->
<footer id="colophon" role="contentinfo">
     <div class="site-info">
        <a href="https://github.com/evilbinary/myblog" title="my blog">本博客使用evilbinary myblog</a>
        <p>©Copyright 2014, evilbinary.org.</p>
     </div><!-- .site-info -->
 </footer>
</div><!-- #page -->
</body>

	<script type="text/javascript" src="{{STATIC_URL}}js/shCore.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/shAutoloader.js"></script>
    
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/shThemeDefault.css" />  
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/shCoreDefault.css"/>

    <!--<script type="text/javascript"  src="https://highlightjs.org/static/highlight.pack.js"></script>-->

    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/monokai.css"/>

    <script type="text/javascript"  src="{{STATIC_URL}}js/highlight.pack.js"></script>

    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">-->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>-->

    <script type="text/javascript">
         //替换为span \t
        //hljs.tabReplace = '<span class="indent">\t</span>';-->
        hljs.configure({
          tabReplace: '    ', // 4 spaces
          //classPrefix: ''     // don't append class prefix
                              // … other options aren't changed
        })
        //hljs.initHighlighting();
        hljs.initHighlightingOnLoad();

        //$('div.code').each(function(i, block) {
            //hljs.highlightBlock(block);
        //});
    </script>

    <script type="text/javascript">
    //<![CDATA[
    function path()
      {
        var args = arguments,
            result = [];
        for(var i = 0; i < args.length; i++)
            result.push(args[i].replace('@', '{{STATIC_URL}}js/'));
        return result
      };
      SyntaxHighlighter.autoloader.apply(null, path(
        'applescript            @shBrushAppleScript.js',
        'actionscript3 as3      @shBrushAS3.js',
        'bash shell             @shBrushBash.js',
        'coldfusion cf          @shBrushColdFusion.js',
        'cpp c                  @shBrushCpp.js',
        'c# c-sharp csharp      @shBrushCSharp.js',
        'css                    @shBrushCss.js',
        'delphi pascal          @shBrushDelphi.js',
        'diff patch pas         @shBrushDiff.js',
        'erl erlang             @shBrushErlang.js',
        'groovy                 @shBrushGroovy.js',
        'java                   @shBrushJava.js',
        'jfx javafx             @shBrushJavaFX.js',
        'js jscript javascript  @shBrushJScript.js',
        'perl pl                @shBrushPerl.js',
        'php                    @shBrushPhp.js',
        'text plain             @shBrushPlain.js',
        'py python              @shBrushPython.js',
        'ruby rails ror rb      @shBrushRuby.js',
        'sass scss              @shBrushSass.js',
        'scala                  @shBrushScala.js',
        'sql                    @shBrushSql.js',
        'vb vbnet               @shBrushVb.js',
        'xml xhtml xslt html    @shBrushXml.js'
      ));
      SyntaxHighlighter.defaults['toolbar'] = false
      SyntaxHighlighter.defaults['gutter'] = true;
      //SyntaxHighlighter.config.stripBrs=false
      SyntaxHighlighter.config.bloggerMode = true;
      SyntaxHighlighter.config.strings.viewSource = "查看源码"
      SyntaxHighlighter.all();
      //
      </script>
    

</html>
