
</div><!-- #main .wrapper -->
<footer id="colophon" role="contentinfo">
     <div class="site-info">
        <a href="https://github.com/evilbinary/" title="my blog">自豪的使用 evilbinary blog</a>
     </div><!-- .site-info -->
 </footer>
</div><!-- #page -->
</body>

	<script type="text/javascript" src="{{STATIC_URL}}js/shCore.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/shAutoloader.js"></script>
    
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/shThemeDefault.css" />  
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/shCoreDefault.css"/>


    <script type="text/javascript">
    //<![CDATA[
    function path()
      {
        var args = arguments,
            result = [];
        for(var i = 0; i < args.length; i++)
            result.push(args[i].replace('@', '{{STATIC_URL}}js/'));
        return result
      };
      SyntaxHighlighter.autoloader.apply(null, path(
        'applescript            @shBrushAppleScript.js',
        'actionscript3 as3      @shBrushAS3.js',
        'bash shell             @shBrushBash.js',
        'coldfusion cf          @shBrushColdFusion.js',
        'cpp c                  @shBrushCpp.js',
        'c# c-sharp csharp      @shBrushCSharp.js',
        'css                    @shBrushCss.js',
        'delphi pascal          @shBrushDelphi.js',
        'diff patch pas         @shBrushDiff.js',
        'erl erlang             @shBrushErlang.js',
        'groovy                 @shBrushGroovy.js',
        'java                   @shBrushJava.js',
        'jfx javafx             @shBrushJavaFX.js',
        'js jscript javascript  @shBrushJScript.js',
        'perl pl                @shBrushPerl.js',
        'php                    @shBrushPhp.js',
        'text plain             @shBrushPlain.js',
        'py python              @shBrushPython.js',
        'ruby rails ror rb      @shBrushRuby.js',
        'sass scss              @shBrushSass.js',
        'scala                  @shBrushScala.js',
        'sql                    @shBrushSql.js',
        'vb vbnet               @shBrushVb.js',
        'xml xhtml xslt html    @shBrushXml.js'
      ));
      SyntaxHighlighter.all();
      //
      </script>
    

</html>
