<head>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />
    <script type="text/javascript" src="{{STATIC_URL}}/js/comment-reply.min.js?ver=4.0"></script>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/code.css"/>
</head>

<body class="home blog logged-in admin-bar custom-font-enabled single-author customize-support">
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
        <hgroup>
            <h1 class="site-title"><a href="" title="blog" rel="home">blog</a></h1>
            <h2 class="site-description">博客</h2>
        </hgroup>

        <nav id="site-navigation" class="main-navigation" role="navigation">
            <button class="menu-toggle">菜单</button>
            <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
            <div class="nav-menu">
                <ul>
                    <li class="current_page_item">
                        <a href="/blog/">主页</a>
                    </li>
                    {%for page in pages%}
                    <li class="page_item page-item-{{page.id}}">
                        <a href="/blog/page/{{page.id}}">{{page.post_title}}</a>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </nav><!-- #site-navigation -->

    </header><!-- #masthead -->

    <div id="main" class="wrapper">
