<html>
<head>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />
    <!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/markdown.css" />-->
    
    <script type="text/javascript" src="{{STATIC_URL}}/js/comment-reply.js"></script>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/code.css"/>
       <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css"/>
    <title>{{headeinfo.title}}</title>   
</head>

<body class="home blog logged-in admin-bar custom-font-enabled single-author customize-support">

<header role="banner" id="te-site-header">
            <div class="container">
                <a href="http://evilbinary.org/" class="te-site-logo" role="logo">evilbinary</a>
                <ul class="nav nav-pills" id="te-site-nav" role="navigation">
                    <li class="active"><a href="#">顶部</a></li>
                    <li><a href="/search">邪恶</a></li>
                </ul>
            </div>
</header>
    

<div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
        <hgroup>
            <h1 class="site-title"><a href="" title="blog" rel="home">{{headeinfo.blogname}}</a></h1>
            <h2 class="site-description">{{headeinfo.blogdescription}}</h2>
        </hgroup>

        <nav id="site-navigation" class="main-navigation" role="navigation">
            <button class="menu-toggle">菜单</button>
            <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
            <div class="nav-menu">
                <ul>
                    <li class="current_page_item">
                        <i class="fa fa-home fa-2x"></i>
                        <a href="/blog/">主页</a>
                    </li>
                    {%for page in pages%}
                    <li class="page_item page-item-{{page.id}}">
                        <a href="/blog/page/{{page.id}}">{{page.post_title}}</a>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </nav><!-- #site-navigation -->

    </header><!-- #masthead -->

    <div id="main" class="wrapper">
