<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="/blog/page{{ posts.previous_page_number }}">上一页</a>
        {% endif %}
    
        {% for i in page.paginator.page_range_ext %}
            {%if i = page.number %}
                <a class='paginator_current' href='/blog/page{{i}}'>{{i}}</a>
            {%else%}
            <a class='paginator' href='/blog/page{{i}}'>{{i}}</a>
            {%endif%}
        {% endfor%}
        {% if page.has_next %}
            <a href="/blog/page{{ page.next_page_number }}">下一页</a>
        {% endif %}
         共{{ page.paginator.num_pages }}页.
    </span>
</div><!-- #page nav -->