 {% load gravatar  %}

<li >	
<div class="single"> 
		{%if not comment.comment_author_email %}
			<img class="round_img avatar" alt="" src="{{STATIC_URL}}img/avatar.jpg" height="44" width="44">
		{%else%}
			{%if level < 1 %}
				<img class="round_img avatar" alt="" src="{{ comment.comment_author_email|get_gravatar:42}}">
			{%else%}
				<img class="round_img " alt="" src="{{ comment.comment_author_email|get_gravatar:32}}" height="32" width="32" >
			{%endif%}
		{%endif%}
	<div class="comment-item" id="comment-{{comment.comment_id}}" style="padding:0 0 0 5px;">  
		<div class="info">
			{%if comment.comment_author_url != ''%}
				<a class="uname" href="{{comment.comment_author_url}}" rel="external nofollow" >{{comment.comment_author}}</a>
			{%else%}
				<div class="uname">{{comment.comment_author}}</div>
			{%endif%}
			{%if comment.user_id != 0%}
				<span>Post author</span>
			{%else%}

			{%endif%}
			
			<span class="timestamp">
				<a href="/blog/?p={{comment.comment_post_id}}#comment-{{comment.comment_id}}">
					<time datetime="{{comment.comment_date}}">{{comment.comment_date}}</time>
				</a>	
			</span>		
			<span class="reply">
				<a  class="comment-reply-link"  href="/blog/?p={{comment.comment_post_id}}&amp;replytocom={{comment.comment_id}}#respond" onclick="return addComment.moveForm(&quot;comment-{{comment.comment_id}}&quot;, &quot;{{comment.comment_id}}&quot;, &quot;respond&quot;, &quot;{{comment.comment_post_id}}&quot;)">回复</a> 		
 			</span>
 		</div>
 		<div class="body">
 			<!--<div class="code">-->
 			{{comment.comment_content}}
 			{%if comment.comment_approved = '0' %}
 				<span class="required">您的评论已经提交等待博主审核！</span>
 			{%endif%}
 			<!--</div>-->
			<!--<p class="edit-link"><a class="comment-edit-link" href="/blog/comment">Edit</a></p>-->			
 		</div>


	</div>
</div> <!--#single##-->

 </li><!-- #comment-## -->

